.aside {
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
    text-align: center;
    grid-area: aside;
}


.image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin:auto;
    margin-top: 2em;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}
.image:hover{
    cursor: pointer;
    background-color: black;

}

.image:hover .text {
    padding-top: 3em;
    display: inherit;

}   

.text{
    display: none;
    padding-top: 3em;
    font-size: 18px;
    font-weight: bold;
}

.file{
    display:none;
}

.icon{
    margin-top: 7px;
    width: 30px;
    color:#e373c8;
}

.inputRead{
    text-align: center !important;
    background-color: white !important;
    border: 0px !important;
    font-size: 20px;
}
.inputRead:focus{
    border: 0px !important;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .asideEdit{
        margin: auto;
        height: 80vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
        text-align: center;
        grid-area: aside;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .asideEdit{
        margin: auto;
        padding: 5em;
        height: 80vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
        text-align: center;
        grid-area: aside;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .asideEdit{
        margin: auto;
        padding: 5em;
        height: 80vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
        text-align: center;
        grid-area: aside;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .asideEdit{
        margin: auto;
        padding: 5em;
        height: 80vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
        text-align: center;
        grid-area: aside;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .asideEdit{
        margin: auto;
        padding: 5em;
        height: 80vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
        text-align: center;
        grid-area: aside;
    }
}