.aside {
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
    text-align: center;
    grid-area: aside;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin:auto;
    margin-top: 2em;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}
.image:hover{
    cursor: pointer;
    background-color: black;

}

.image:hover .text {
    padding-top: 3em;
    display: inherit;

}   

.text{
    display: none;
    padding-top: 3em;
    font-size: 18px;
    font-weight: bold;
}

.file{
    display:none;
}

.icon{
    margin-top: 7px;
    width: 30px;
    color:#e373c8;
}

.inputRead{
    text-align: center !important;
    background-color: white !important;
    border: 0px !important;
    font-size: 20px;
}
.inputRead:focus{
    border: 0px !important;
}

