.card {
	font-family: "Poppins", sans-serif;
	padding: 2em;
	background-color: white;
	height: 80vh;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: inset 2px -108px 49px -44px rgba(0, 0, 0, 0.75);
	background-size: cover;
	background-position: center;
	width: 100%;
}

.swipe {
	position: absolute;
	width: 97%;
}

.jobtype {
	font-family: "Poppins", sans-serif;
	padding: 10px;
	text-shadow: 4px;
	padding: 0;
	margin-bottom: 0;
	font-size: 2em;
}

.company {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin-top: 5px;
	color: #e373c8;
}

.place:before {
	content: "\00b7\0000a0";
}

.date {
	font-family: "Poppins", sans-serif;
	color: #e0a4d2;
	font-size: 12px;
	font-weight: normal;
}

.image {
	background-color: black;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.text {
	padding-left: 3.2em;
}

.modal {
	position: absolute;
	bottom: 10px;
	right: 45%;
	cursor: pointer;
}

.button {
	background-color: transparent;
	border: 0px;
	cursor: pointer;
}

.button:hover {
	background-color: transparent;
	border: 0px;
}

.button:focus {
	background-color: transparent;
	border: 0px;
}

.button:active {
	background-color: transparent !important;
	border: 0px !important;
}

.iconMore {
	width: 15px;
	margin-bottom: 4px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	.image {
		width: 40px;
		height: 40px;
	}
	.card {
		width: 100%;
	}
	.swipe {
		width: 105%;
		margin-left: -1.2em;
	}
	.modal {
		position: absolute;
		bottom: 10px;
		right: 35%;
		z-index: 20;
		cursor: 'pointer';
	}
	.button {
		position: relative;
		cursor: 'pointer';
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
	.image {
		width: 60px;
		height: 60px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
	.image {
		width: 60px;
		height: 60px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
	.image {
		width: 100px;
		height: 100px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
	.image {
		width: 100px;
		height: 100px;
	}
}