.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-align: center;
  transition: 0.7s ease-in-out;
  transition-delay: 0.5s;
  font-size: large;
  z-index: 6;
}

.button {
  background-color: transparent;
  border: 2px solid #f4ad7d;
  border-radius: 30px;
  font-size: medium;
  font-weight: 600;
  color: white;
  padding: 10px 35px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.animation:before {
  transform: translate(100%, -50%) !important;
  right: 52% !important;
}


.button:hover {
  background-color: #f4ad7d;
}

.log {
  opacity: 0;
  padding: 3rem 12% 2rem 17%;
  transform: translateX(800px);
  
}

.sign {
  padding: 3rem 17% 2rem 12%;
}

.image {
  width: 100%;
}

/*MEDIA QUERIES*/
/*Tablet*/
@media (max-width: 870px) {
  .animation:before {
    transform: translate(-50%, 100%) !important;
    bottom: 32% !important;
    right: initial !important;
  }
  
  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  .aside{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }
}

/*Movil*/
@media (max-width: 570px) {
  .animation:before {
    bottom: 32% !important;
    left: 50% !important;
  }

  .image {
    display: none;
  }

  .aside{
    padding: 0.5rem 1rem;
    font-size: medium;
  }
  .log{
    grid-row: 3 / 4;
  }
  .sign{
    grid-row: 1 / 2;
  }
}