.form__container {
  width: 350px;
  text-align: center;
  transition:  0.7s ease-in;
  transition-delay: 0.5s;
  z-index: 5;

}
.title {
  color: #5f498a;
}
.input__field {
  font-size: medium;
  font-weight: 600;
  width: 100%;
  padding: 1.2em;
  margin-bottom: 2em;
  border-radius: 20px;
  background-color: aliceblue;
}
.btn {
  background-image: linear-gradient(
    to right,
    #E373C8 0%,
    #9733ee 51%,
    #E373C8 100%
  );
  padding: 20px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 15px;
  font-size: medium;
  font-weight: 600;
  width: 70%;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.enlace{
  color:#E373C8;
}

.sign{
  opacity: 0;
  transform: translateX(400px);

}

/*MEDIA QUERIES*/
/*Tablet*/
@media (max-width: 870px) {
}

/*Movil*/
@media (max-width: 570px) {
  .form__container {
    padding: 2em;
    width: 100%;
    max-width: 100%;
  }
}
