.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-color: #e373c8;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}
.aside__container{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2em;
  align-items: center;
}

/*MEDIA QUERIES*/
/*Tablet*/
@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
}

/*Movil*/
@media (max-width: 570px) {
  .container {
    padding: 1.5rem;
  }
  .container:before {
    bottom: 72%;
    left: 50%;
  }
  .main {
    flex-direction: column;
    padding: 0;
  }
}
