.container {
	
	display: grid;
	grid-template-columns: 0.7fr 1.8fr 0.7fr;
	grid-template-rows: 0.5fr 1.6fr;
	gap: 20px 20px;
	background-color: #F3F2EF;
	height: 93vh;
	padding: 3em;
	overflow: hidden;
	grid-template-areas: "aside main video" "aside main filters";
}

.page {
	overflow: hidden;
}

.video {
	grid-area: video;
}

.main {
	grid-area: main;
	display: flex;
	justify-content: center;
}

.filters {
	grid-area: filters;
	background-color: white;
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
	max-height: 50vh;
	border-radius: 10px;
	padding:1em;
}
.filters >h2{
	padding-top:0;
	margin-top:0;
}
.icon{
	width: 17px;
	height: 17px;
	color: #e373c8;
	margin-right: 0.2em;
}