.container{
    position: absolute;
    top:-500px;
    right: 5em;
    width: 20em;
    height: 15em;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
    border-radius: 10px;
    transition: 0.5s;

}

.logout{
    font-family: "Poppins", sans-serif;

    position: relative;
    top: 12em;
    color: #e373c8;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    width: 100%;
    border-top: 1px solid #cacaca;
    text-align: center;
    padding: 0.5em;
}

.icon{
    padding-top:0.3em;
    width: 20px;
    height: 20px;
    margin-left: 0.5em;
}

