.msg {
    position: absolute;
    right: 3em;
    bottom: 0;
    height: 50px;
    width: 20vw;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.32);
    transition: 0.5s;
}

.title {
    margin-left: 1em;
    margin-top: 10px;
}

.icon {
    float: right;
    width: 35px;
    height: 35px;
    margin-right: 0.5em;
    padding: 5px;
    border-radius: 50%;
    color: #e373c8;
    cursor: pointer;
    margin-top: 3px;
}

.icon:hover {
    background-color: rgb(255, 224, 251);
}

.iconMen {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 0.5em;
    color: #e373c8;
    margin-top: 6px;
}

.titleContainer {
    width: 100%;
    border-bottom: 1px solid #cacaca;
}