.nav {
    position: sticky;
    padding: 0.5em;
    display: grid;
    height: 7vh;
    min-height: 55px;
    border-bottom: 1px solid #cacaca;
    padding-right: 4em;
    padding-left: 4em;
    z-index: 9;
    background-color: white;
}

.logoIzq {
    text-align: left;
    grid-column: 1/2;
    padding-left: 2em;
}

.perfil {
    text-align: right;
    grid-column: 2/2;
    padding-right: 2em;
    cursor: pointer;
}

.logoPerfil {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.nav>div>img {
    height: 45px;
}

.icon {
    width: 14px;
    height: 14px;
    position: relative;
    right: 15px;
    color: #e373c8;
    top: 15px;
}

.name {
    padding: 1em;
}