.nav {
  display: grid;
  padding: 1em;
}
.logoIzq {
  text-align: left;
  grid-column: 1/2;
  padding-left: 2em;
}
.logoDer {
  text-align: right;
  grid-column: 2/2;
  padding-right: 2em;
}

/*MEDIA QUERIES*/
/*Tablet*/
@media (max-width: 870px) {
    .nav{
        display:none;
    }
}